stock-row {
  > *:not(positions-root) {
    align-content: center;

    &[name="description"] {
      font-weight: bold;
      color: darkslategray;
    }
  }
  & > [name="positions"] {
    margin-top: 5px;
  }
  &[state="open"] > [name="positions"] {
    position: relative;
    background-color: var(--col-grid-background);
    border: var(--border-light);
    border-width: 2px;
    border-left: none;
    border-bottom: none;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      left: -2px;
      top: -1px;
      bottom: 0;
      background: var(--col-border-light);
      z-index: 100;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: -2px;
      background: var(--col-grid-background);
      z-index: 100;
    }
  }

  button {
    padding: 0.5em 0.75em;
    cursor: pointer;
  }
  > *[name="ticker"] button {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
