instrmnt-chart {
  display: block !important;
  /* grid-column: var(--grid-col-all); */
  padding: 0 !important;
  height: 200px;
  position: relative;

  /* inner { */
  /*   display: block; */
  /*   width: 100%; */
  /* } */
}
