instrmnt-row {
  display: block;

  button {
    cursor: pointer;
    text-align: center;
    height: var(--size-button);
    width: var(--size-button);
  }
  [name="ticker"] button {
    width: 100%;
  }

  [name="description"] {
    display: inline-flex;
    align-items: stretch;
    a {
      display: flex;
      flex: 1 1 auto;
      min-width: 0;
      align-items: center;
      padding-left: var(--size-padding-cell);
      text-decoration: none;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.no_link {
        color: gray;
      }
    }
    svg,
    .no_logo {
      border-radius: 8px;
      border: 1px solid var(--col-border);
      width: var(--size-button);
      height: var(--size-button);
      display: flex;
      flex: 0 0 auto;
    }
    .no_logo {
      color: gray;
      align-items: center;
      justify-content: center;
    }
  }
  [name="transctns"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  expanding-drawer {
    .header {
      display: flex;
      border-bottom: 1px solid var(--col-border);
      border-top: 1px solid var(--col-border-light);
      align-items: center;
      justify-content: space-between;
      .breadcrumb {
        border-right: 1px solid var(--col-border-light);
        a {
          padding: var(--size-padding-cell);
          background: var(--col-header-background);
          display: inline-block;
          cursor: pointer;
        }
        .sector::after {
          content: "|";
          display: inline-block;
          position: relative;
          right: calc(var(--size-padding-cell) * -1);
        }
      }
      .currency {
        padding: var(--size-padding-cell);
        text-align: center;
        align-self: flex-end;
        flex-basis: 56px;
        background: var(--col-header-background);
        border-left: 1px solid var(--col-border-light);
      }
    }
    [name="live_data"] {
      grid-column: var(--grid-col-all);
      display: flex;
      border-top: var(--border-light);
      .section {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        max-height: 150px;

        line-height: 1.5em;
        margin-right: 20px;
        > .title {
          font-weight: bold;
        }

        padding: var(--size-padding-cell) 0;
        .snippet {
          padding: 0 var(--size-padding-cell);
        }
      }
    }

    [name="about_company"] {
      height: 200px;
      line-height: 1.2em;
      padding: var(--size-padding-cell);
      padding-bottom: calc(var(--size-padding-cell) * 2);
      text-align: justify;
      columns: 4 300px;
      column-gap: 20px;
      column-fill: auto;
      column-rule: 1px solid var(--col-border-light);
      color: var(--col-text-light);
      p {
        break-inside: avoid;
        margin-bottom: calc(var(--size-padding-cell) * 2);
      }
    }
  }
}
