instrmnts-root {
  .grid {
    --grid-columns: repeat(6, 72px) repeat(28, 1fr); /*repeat(6, 1fr) 80px 80px 80px repeat(20, 1fr);*/
    --grid-col-all: 1/35;
    --grid-col-1-1: 1/3;
    --grid-col-1-2: 3/4;
    --grid-col-1-3: 4/5;
    --grid-col-1: 1/5;
    --grid-col-2: 5/6;
    --grid-col-3: 6/7;
    --grid-col-4: 7/11;
    --grid-col-5: 11/15;
    --grid-col-6: 15/18;
    --grid-col-7: 18/21;
    --grid-col-8: 21/24;
    --grid-col-9: 24/26;
    --grid-col-8-9: 21/26;
    --grid-col-10: 26/29;
    --grid-col-11: 29/32;
    --grid-col-12: 32/35;
    --grid-col-10-12: 26/35;

    [name="description"] {
      grid-column: var(--grid-col-1);
    }
    [name="ticker"] {
      grid-column: var(--grid-col-2);
    }
    [name="positions"] {
      border-right: 1px solid var(--col-border);
      grid-column: var(--grid-col-3);
    }
    [name="traded_value"] {
      grid-column: var(--grid-col-4);
    }
    [name="market_value"] {
      grid-column: var(--grid-col-5);
    }
    [name="r_pl"] {
      border-left: 1px solid var(--col-border);
      grid-column: var(--grid-col-6);
    }
    [name="u_pl"] {
      border-left: 1px solid var(--col-border);
      grid-column: var(--grid-col-7);
    }
    [name="fx_pl"] {
      grid-column: var(--grid-col-8);
    }
    [name="percent_pl"] {
      grid-column: var(--grid-col-9);
    }
    [name="dividend"] {
      border-left: 1px solid var(--col-border);
      grid-column: var(--grid-col-10);
    }
    [name="div_est"] {
      grid-column: var(--grid-col-11);
    }
    [name="div_yield"] {
      grid-column: var(--grid-col-12);
    }
  }
  instrmnt-row {
    border-bottom: 1px solid var(--col-border-light);
    &:nth-last-child(1 of [shown]) {
      border-bottom: none;
    }
  }
  .instruments.wrapper {
    border: 1px solid var(--col-border);
    transition: opacity 300ms;
  }
  .instruments.wrapper.working {
    opacity: 0.5;
  }

  .header.wrapper {
    position: sticky;
    top: 24;
    z-index: 100;
    padding-bottom: var(--size-padding-cell);

    [bold] {
      font-weight: bold;
    }

    .filter.wrapper .inner {
      display: flex;
      justify-content: space-between;
      background: var(--col-background-light);
      padding: 10px;
      form {
        display: flex;
        flex-direction: column;
      }
      [select] {
        margin-bottom: var(--size-padding-cell);
      }
      label {
        display: inline-block;
        min-width: 60px;
        margin-top: var(--size-padding-cell);
        margin-bottom: var(--size-padding-cell);
      }
    }
    > .grid.header > * {
      justify-content: center;
      background-color: var(--col-header-background);
      border: 1px solid var(--col-border);
      cursor: pointer;
      user-select: none;
      &[name="u_pl"] {
        border-top: none;
      }
    }
    > .grid.header > *:not(:last-child) {
      border-right: none;
    }
    > .grid.u_pl {
      background: var(--col-background-light);
      [name="u_pl"] {
        grid-column: var(--grid-col-7);
        justify-content: center;
        cursor: pointer;
        user-select: none;
        background-color: var(--col-header-background);
        border: 1px solid var(--col-border);
        border-bottom: none;
        border-right: none;
      }
      [name="u_pl_total"] {
        justify-content: center;
        grid-column: var(--grid-col-8-9);
        border: 1px solid var(--col-border);
        border-bottom: none;
        border-right: none;
      }
      [name="rem"] {
        grid-column: var(--grid-col-10-12);
        background-color: var(--col-header-background);
        justify-content: center;
        border: 1px solid var(--col-border);
        border-bottom: none;
      }
    }
    > .grid.money {
      > money-str,
      > percent-str {
        background: var(--col-background-light);
        border: 1px solid var(--col-border);
        border-top: none;
      }
    }
    > .grid.money > *:not(:last-child) {
      border-right: none;
    }
  }
}
