insight-root {
  display: block;
  .grid {
    grid-template-columns: 280px repeat(3, minmax(auto, 120px)) 1fr;
    grid-template-areas: "category market_value pl_ur pl_ur_perc bars";
  }
  .header {
    position: sticky;
    top: 24px;
    background: var(--col-background-light);
    border-bottom: 1px solid var(--col-border);
    z-index: 100;
    .grid {
      justify-items: right;
      .buttons {
        display: flex;
      }
      button {
        padding: var(--size-padding-cell);
        margin-right: var(--size-padding-cell);
        margin-left: var(--size-padding-cell);

        cursor: pointer;
      }
    }
    [name="market_value"],
    [name="pl_ur"],
    [name="pl_ur_perc"] {
      cursor: pointer;
    }
  }
  /*
  .menu {
    display: flex;
    justify-content: center;
    position: sticky;
    pointer-events: none;
    top: 24px;
  }
  */
}
