insight-row {
  display: block;

  .grid:hover {
    background-color: var(--col-header-background-light) !important;
    cursor: pointer;
  }
  > .grid {
    [name="topic"] {
      grid-column: category;
    }
    [name="value"] {
      grid-column: value;
    }
    [name="u_pl"] {
      grid-column: u_pl;
    }
    [name="percent"] {
      grid-column: percent;
      padding: 1px;
      border-left: 1px solid var(--col-border-light);
      flex-direction: column;
      align-items: start;
      overflow: hidden;
      .bar {
        height: 20px;
        &[pl="profit"] {
          background: var(--col-pos);
        }
        &[pl="loss"] {
          background: var(--col-neg);
        }
      }
      .value {
        padding: var(--size-padding-cell);
        font-family: var(--font-monospace);
        font-size: var(--font-size-small);
        color: var(--col-text-feint);
      }
    }
  }
  &[name="locations"] {
    [name="topic"] {
      z-index: 2;
      &:hover {
        background-color: oklch(from var(--col-background-light) l c h / 0.6);
      }
      a {
        text-decoration: none;
      }
    }
    &[level="0"] {
      border: 1px solid var(--col-border);
      border-bottom-width: 2;
      border-top-width: 2;
      &:first-child {
        border-top-width: 1px;
      }
      &:last-child {
        border-bottom-width: 1px;
        margin-bottom: 0;
      }
    }
    &[level="1"] {
      border-bottom: 1px solid var(--col-border);
      border-top: 1px solid var(--col-border);
      margin-bottom: calc(3 * var(--size-padding-cell));
      & > .grid {
        border-bottom: 1px solid var(--col-border);
        [name="topic"] {
          font-weight: bold;
        }
      }
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    &[level="2"] {
      [name="percent"] {
        border-bottom: 1px solid var(--col-border-light);
      }
      &:last-child {
        [name="percent"] {
          border-bottom: none;
        }
      }
    }
  }
  &[name="sectors"] {
    [name="topic"] {
      pointer-events: none;
    }
    &[level="0"] {
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    &[level="1"] {
      [name="percent"] {
        border-bottom: 1px solid var(--col-border-light);
      }
      &:last-child {
        [name="percent"] {
          border-bottom: none;
        }
      }
    }
  }
  &[level="0"] {
    border-bottom: 1px solid var(--col-border);
    border-top: 1px solid var(--col-border);
    margin-bottom: calc(3 * var(--size-padding-cell));

    & > .grid {
      background-color: var(--col-header-background);
      border-bottom: 1px solid var(--col-border);
      [name="topic"] {
        font-weight: bold;
      }
    }
  }
  &[level="1"],
  &[level="2"] {
    [name="topic"] {
      padding-left: calc(4 * var(--size-padding-cell));
    }
  }
}
