positions-root {
  grid-column: var(--grid-col-all);

  display: block;
  overflow-y: hidden;
  padding: 0 !important;
  transition: height 0.75s;
  border: var(--border-light);
  border-width: 2px;
  > .grid {
    > .row > * {
      border: var(--border-light);
      border-top: none;
      border-right: none;
      &:first-child {
        border-left: none;
      }
    }
    > position-row {
      display: block;
      font-size: var(--font-size-small);
      text-align: center;
      .meta,
      [name="closed"] {
        color: var(--col-text-feint);
      }
      money-str,
      percent-str {
        text-align: right;
      }
    }
    > .header > * {
      background-color: var(--col-grid-background);
    }
  }
}
