transctn-row,
.header.grid {
  :nth-child(1),
  :nth-child(2),
  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    justify-content: center;
    background: var(--col-header-background);
  }
}
transctn-row > * {
  background: var(--col-header-background);
  border: none !important;
}
