.grid {
  display: grid;
  justify-items: stretch;
  align-items: stretch;

  width: 100%;
  > .row {
    display: contents;

    > * {
      padding: var(--padding-cell);
    }
  }
  > .header {
    text-align: center;
    font-size: var(--font-size-small);
  }
}
