.grid {
  display: grid;
  grid-template-columns: var(--grid-columns);
  /*
  justify-items: stretch;
  align-items: stretch;
  */
  width: 100%;
}
.grid > * {
  white-space: pre;
  overflow-x: hidden;
  padding: var(--size-padding-cell);
  display: flex;
  align-items: center;
}
