@import "./reset.css";
@import "./grid.css";
@import "./widgets.css";
@import "./app/app-root.css";
@import "./accounts/accounts-root.css";
@import "./stocks/stocks-root.css";
@import "./positions/positions-root.css";

:root {
  --padding-app: 2em;
  --padding-cell: 5px;
  --col-pos: green;
  --col-neg: red;
  --col-background-light: white;
  --col-grid-background: rgb(232, 235, 235);
  --col-border-light: gray;
  --font-size-small: 0.85em;
  --border-light: 1px solid var(--col-border-light);

  --grid-columns: repeat(8, 1fr) 80px repeat(16, 1fr) 80px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  font-family: sans-serif;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

body {
  padding: var(--padding-app);
  position: relative;
}

/*
table,
thead,
tbody,
tr {
  width: 100%;
}

table {
  td,
  th {
    padding: 0.75em;
    text-align: left;
  }

  thead {
    color: rgb(83, 83, 83);
    font-weight: bold;
  }
}
*/

/*
stocks-root {
  > table {
    > tbody {
      > tr {
        border: 1px solid;
        border-bottom: none;
        border-collapse: collapse;
        background-color: lightgray;

        &:last-of-type {
          border-bottom: 1px solid;
        }
      }

      td[name="positions"] {
        display: block;
        text-align: center;

        button {
          padding: 1em;
          cursor: pointer;
        }
      }
    }

    > thead {
      th[name="positions"] {
        text-align: center;
      }

      th {
        background-color: white;

        border: 1px solid;
        border-collapse: collapse;
        position: sticky;
        z-index: 100;
        top: 0;
      }
    }
  }
}
  */
