@import "./reset.css";
@import "./grid.css";
@import "./widgets.css";
@import "./app/app-root.css";
@import "./accounts/index.css";
@import "./instruments/index.css";
@import "./insight/index.css";
@import "./positions/index.css";
@import "./map/index.css";
@import "./filter/index.css";

:root {
  --h: 0;
  --s: 0%;
  --text: var(--h), var(--s);
  --font-monospace: monospace;
  --font-size-small: 14px;
  --font-size-small: 12px;

  --col-pos: green;
  --col-neg: red;
  --col-text: hsl(var(--text), 0%);
  --col-text-light: hsl(var(--text), 25%);
  --col-text-feint: hsl(var(--text), 40%);
  --col-background-light: white;
  --col-header-background: rgb(225, 226, 226);
  --col-header-background-light: rgb(242, 242, 242);
  --col-border: grey;
  --col-border-light: rgb(195, 195, 195);

  --size-padding-app: 20px;
  --size-padding-cell: 5px;
  --size-button: 32px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  font-family: sans-serif;
  color: var(--col-text);
  font-size: var(--font-size);
  pre {
    font-family: monospace;
  }
  #bootstrap {
    line-height: 1.5em;
    padding: var(--size-padding-app);
    font-family: var(--font-monospace);
  }
  h1 {
    user-select: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
  [hidden] {
    display: none;
  }
}

body {
  position: relative;
}
#login_succeeds {
  padding: var(--size-padding-app);
}
