money-str,
percent-str {
  white-space: pre;
  font-family: var(--font-monospace);
  text-align: right;
  justify-content: right;
  &.pl {
    color: var(--col-pos);
  }
  &.pl.loss {
    color: var(--col-neg);
  }
}
select-broker {
  label {
    display: inline-block;
    margin-right: var(--size-padding-cell);
  }
  display: inline-block;
  margin: var(--size-padding-cell);
  margin-left: none;
}

expanding-drawer {
  display: block;
  width: 100%;
  overflow-y: hidden;
  .inner {
    width: 100%;
  }
}
