money-str,
percent-str {
  display: block;
  text-align: right;
  &.pl {
    color: var(--col-pos);
  }
  &.pl.loss {
    color: var(--col-neg);
  }
}
select-broker {
  label {
    display: inline-block;
    margin-right: var(--padding-cell);
  }
  display: inline-block;
  margin: var(--padding-cell);
  margin-left: none;
}

expanding-drawer {
  grid-column: var(--grid-col-all);
  overflow-y: hidden;
  padding: 0 !important;
  .inner {
    display: grid;
    grid-template-columns: var(--grid-columns);

    padding: var(--padding-cell);
  }
}
