money-string {
  display: block;
  text-align: right;
  &.pl {
    color: var(--col-pos);
  }
  &.pl.loss {
    color: var(--col-neg);
  }
}
select-broker {
  label {
    display: inline-block;
    margin-right: var(--padding-cell);
  }
  display: inline-block;
  margin: var(--padding-cell);
  margin-left: none;
}
